@model PatientManager.ViewModels.PatientVM

@{
    ViewData["Title"] = "Details";
}

<h1>Patient details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10">
            @if (Model.SexId == 1) {
                <p>Male</p>
            }
            else {
                <p>Female</p>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oib)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"} ) |
    @Html.ActionLink("Medical history", "MedicalHistory", new { id = Model.Id }, new { @class = "btn btn-outline-primary" }) |
    @Html.ActionLink("Examinations", "Examinations", new { id = Model.Id }, new { @class = "btn btn-outline-primary" }) |
    @Html.ActionLink("Perescriptions", "Index", "Perescription", new { id = Model.Id }, new { @class = "btn btn-outline-primary" }) |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
