@model IEnumerable<DataLayer.Models.Diagnosis>

@{
    ViewData["Title"] = "MedicalHistory";
}

<h1>@ViewBag.PatientName medical history</h1>

<p>
    @Html.ActionLink("Add diagnosis", "Create", "Diagnosis", new { id = ViewBag.PatientId }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @if (item.End == null) {
                    <p>Ongoing</p>
                }
                else {
                    @Html.DisplayFor(modelItem => item.End) 
                }
            </td>
            <td>
                @if (item.End == null) {
                    @Html.ActionLink("Mark finished", "DiagnosisFinished", new { id = item.Id }, new { @class = "btn btn-outline-primary" })
                }
                else {
                    <button class="btn btn-outline-primary">Is finished</button>
                }
            </td>
        </tr>
}
    </tbody>
</table>
